process {
    // General settings for all processes
    queueSize = 1    // Limits how many tasks are queued to be run simultaneously
    maxForks = 1     // Limits how many processes are run at the same time (one at a time)

    // Specific settings for Kallisto (RNA-seq pseudoalignment)
    withName: 'KallistoQuant' {
        cpus = 10          // Allocate CPU cores for Kallisto
    }

    // Specific settings for Bowtie2 (ChIP-seq alignment)
    withName: 'Bowtie2AlignTreatment' {
        cpus = 10          // Allocate CPU cores for Bowtie2
    }

    // Specific settings for Bowtie2 Control (ChIP-seq alignment)
    withName: 'Bowtie2AlignControl' {
        cpus = 10          // Allocate CPU cores for Bowtie2
    }
}
